<!DOCTYPE Html>
<Html Lang="En">

<Head>
  <Meta Charset="UTF-8">
  <Meta Http-Equiv="X-UA-Compatible" Content="IE=Edge">
  <Meta Name="Viewport" Content="Width=Device-Width, Initial-Scale=1.0">
  <Title>Simple 404 Error Page</Title>
  <Link Rel="Stylesheet" Href="css/404error.css">
  <link rel="shortcut icon" href="images/logo.png" type="image/png">
  <Link Rel="Stylesheet" Href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</Head>

<Body>
  <Section Class="Page_404">
    <Div Class="container">
      <Div Class="row">
        <Div Class="col-sm-12 ">
          <Div Class="col-sm-10 col-sm-offset-1  text-center">
            <Div Class="Four_zero_four_bg">
              <H1 Class="text-center ">404</H1>


            </Div>

            <Div Class="Contant_box_404">
              <H3 Class="H2">
                Look Like You're Lost
              </H3>

              <P>The Page You Are Looking For Not Avaible!</P>

               <a href="/"><button>Home page</button></a>
            </Div>
          </Div>
        </Div>
      </Div>
    </Div>
  </Section>
</Body>

</Html>